name: CI_action

on:
  push:
   branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
       matrix:
        node-version: [14.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      working-directory: C:/Users/Admin/CISE_Repo/CISE_React/CISE_Worksheet2/cise_ass1a_worksheet2-frontend
      run: npm install

    - name: Run the tests
      working-directory: C:/Users/Admin/CISE_Repo/CISE_React/CISE_Worksheet2/cise_ass1a_worksheet2-frontend
      run: npm test

    - name: Build
      working-directory: C:/Users/Admin/CISE_Repo/CISE_React/CISE_Worksheet2/cise_ass1a_worksheet2-frontend
      run: npm run build 
